@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
    height: 100%;
    font-family: 'Roboto','Arial', 'sans-serif';
}
#logreg{
	background-image: url(../images/thuis-acteurs_0.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
.color-green{
    background-color: #EFAA71   ;
}
nav {
    padding-left: 15px;
    height: 65px;
}
nav ul li{
	padding-left: 20px;
	padding-right: 20px;
}
#container {
    display: flex;
    justify-content: space-around;

}
h4 {
    color: #2B2B2B;
}
.brand-logo img{
    padding-top: 0.3em;
    width:4em;
    position: absolute;
    z-index: 10000;
    overflow: auto;
    margin-left: 1em;
}

section {
    text-align: center;
    display: block;

}
/* section TIMELINE */
#timeline {
    background-color: #F6F6F6;
    width: 30%;
    display: block;
    position: absolute;
    height:90%;
    left: 0;
    top: 65px;
    overflow-y: scroll;
    padding-bottom: 50px;
    border-right: 1px solid #EDEEEE;

}
.overlay-black{
    width: 100%;
    height:100%;
    position: absolute;
    border-radius: 5px;
    background-color: black;
    opacity: 0.2;
}

.overlay-black:hover
 {
    opacity: 0;
    animation-timing-function:ease-in-out;
}
.jssocials-share a{
    border-radius: 4px;
}
.pushup{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pushup a{
    margin-right: 1em;
}
#timeline .content-title{
    display: flex;
    flex-direction: row;
}
#timeline h2 {
    margin: 0;
    font-size: 1em;
    margin-left: 1em;
}

#timeline p {
    margin:0;
    font-style: italic;
    font-size: 0.8em;
    margin-left: 1.5em;
}
#timeline span{
    padding: 0;
    padding-left: 1em;
}

.btn {
    padding: 0;
    width: 6em;
    margin-top: 22px;
    margin-left: 5px;
    height: 3rem;
    line-height: 3rem;
}
#info{
    position: absolute;
    left: 30%;
}
#top {
    height: 80px;
    padding-top: 5px;
    display: flex;

    margin-left: 15%;
    margin-right: 15%;
}
.topwrapper {

    border-bottom: 1px solid #EDEEEE;
    width: 100%;
    background-color: #F6F6F6;
}

#info .block {
    float: left;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 250px;
}
#rightD{
    padding-left: 2em;
}
.quote{
    margin-bottom: 4em;
}
.quote-block{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    font-family: 'Droid Serif', serif;
    display: flex;
    flex-direction: row;
	font-size: 1.4em;
}
.quote-block p{
    display: inline-block;
}
.quote-block .quote-sign-start{
    margin: 0;
    font-style: italic;
    margin-top: -0.5em;
    margin-right: 0.5em;
    line-height: normal;
    font-size: 3em;
    color: #CCCCCC;
    font-weight: bolder;
}
.quote-block .quote-sign-end{
    margin: 0;
    font-style: italic;
    display: flex;
    margin-left: 0.5em;
    margin-bottom: -1em;
    align-self: flex-end;
    line-height: normal;
    font-size: 3em;
    font-weight: bolder;
    color: #CCCCCC;
}
.quotee{
    display: block;
    font-size: 1.3em;
    width: 80%;
    text-align: right;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    color: #666;
    font-weight: bold;
    padding-right: 5%;
}
.personages {

}

#info #left,
#right {
    margin-bottom: 50px;
}

#right img {
    padding-top: 20px;
    width: 100%;
    display: block;
}

#leftD img {
    width: 100%;
}

#info {
    width: 70%;
    height: auto;
    text-align: left;
}
.chip{
    margin-left: 0.5em;
}
.welcome-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10em;
    color: #9E9E9E;
}
.welcome-msg h3{
    font-weight: 900;
}
.welcome-msg h5{
    font-weight: 200;
}
/* section CONTENT */
.content-block{
    display: none;
    padding-top: 2em;
    text-align: left;
}
/* CSS FILTER */
.form-filter{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.selector-person {
    width: 9em;
}
/* Login page */

.form_login{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
.body_login{
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/thuis-acteurs_0.jpg);
	width: 100%;
	height: 100%;
}
#admin{

    background-image: url("../images/sublte.png");
}
 #admin .form_login{
		 width: 600px;
}

#uploadButton{
	padding-top: 5px;
	width: 100%;
	height: 50px;
}
#uploadButton i{
	padding-right: 10px;
}
.btn-back{
    margin-left: 1.4em;
    color: whitesmoke;
    display: none;
}
.mobile-filter{
    display: none;
}
.btn-filter-close{
    margin-top: 0.75em;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
}
#btn-filter1{
    margin-left: auto;
    margin-right: auto;
}
.btn-filter-open{
    display: none;
}
.overview-nav{
    margin-bottom: 1em;
}
.overview-block{
    margin-top: 50px;
    margin-bottom: 50px;
}
.demography{
    margin-bottom: 50px;
}
.tabs .tab a {
    color: #009688;
}
.tabs .tab a:hover {
    color: #00c7b3;
}
.tabs .indicator{
    background-color: #009688;
}
.age{
    margin-bottom: 50px;
}
@media only screen and (max-width: 1000px) {
    .brand-logo img {
        padding-top: 0.6em;
        width: 2em;
        position: absolute;
        z-index: 10000;
        margin-left: 4em;
    }

    #timeline {
        width: 100%;
    }
    #timeline h2 {
        font-size: 1.5em;
    }
    #timeline p {
        font-size: 1.1em;
    }
    #info {
        background-color: whitesmoke;
        width:100%;
        left:0;
        display: none;
    }
    .btn-back{
        display: block;
    }
    #info .block{
        width: 100%;
    }
	.form_login{
	width: 90%;
	
	}
    .topwrapper{
        display: none;
    }
    .mobile-filter{
        display: none;
        position: absolute;
        z-index: 100;
        background: whitesmoke;
        height: 25em;
        width: 100%;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(43,43,43,0.2);
        -moz-box-shadow: 0px 3px 5px 0px rgba(43,43,43,0.2);
        box-shadow: 0px 3px 5px 0px rgba(43,43,43,0.2);
    }
    .form-filter {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        width: 80%;
        flex-direction: column;
        justify-content: space-around;
    }
    .btn-filter-open{
        display: block;
        position: fixed;
        margin-top: 0.75em;
        right: 1em;
        color: whitesmoke;
    }
    .selector-person {
        width: 100%;
    }
    #info #left{
        margin-bottom: 0;
    }

    #right{
        margin-bottom: 0;
    }
    #right img{
        padding-top: 0;
    }
    .jssocials-share{
        margin-bottom: 6em;
    }

}

@media only screen and (max-width: 700px) {
	.form_login{
		width: 100%;
		margin-top: 0px;
		height: 100%;
	}
	.body_login{
		background-image: none;	
	}
}