/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
.logo-img{
  margin-top: 0.5em;
  width:3.5em;
}
.nav-bar{
  background-color: #263238;
}
.block-icon{
  width:1em;
}
.block-text{
  margin-left: 1em !important;
  font-weight: 300;
}
.contact-image{
  width:3em;
  display: flex;
  align-self: center;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container{
	height: 80%;
	padding-top: 100px;
	padding-bottom: 100px;
}
.contact-emails p{
  margin:0;
  margin-left:2em;
  text-align: left;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}